$danger: #e54e16;
$warning: #E6412D;
$primary-overlay:rgba(230, 65, 45, 0.8);

body{
  margin-top:105px;
}

.fa {
  font-size: 55px; }
  
.navbar{
  box-shadow:2px 2px 5px $danger;
  opacity:0.9;
  background:#fff;

  .nav-item{
    font-size:1.4rem;
    padding-right:20px;
  }
}

#showcase{
  position:relative;
  background:url('../img/psi.jpg');
  min-height:600px;

  .primary-overlay{
    background:$primary-overlay;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.info-header{
  width:50%;
  margin:auto;
  border-bottom:1px #ddd solid;
}

#authors{
  img{
    margin-top:-50px;
  }

  .fa{
    color:$warning;
    font-size:25px;
  }

  .card:hover{
    background:$warning;
    color:#fff;

    .fa{
      color:#fff;
    }
  }
}
